<div export replace>
    <p style="margin: 2em">
        Use the following form to create your Arcano application.<br />
        Input your values and download your configuration file and JAR.
    </p>
    <div style="min-height: 500px" class="card">
        <div class="card-content">
            <PrimaryButton style="float:right" class="card-title activator">
                <i class="material-icons">more_vert</i>
            </PrimaryButton>
            <span class="card-title">
                <i style="font-size: 1.2em;position:relative;top: 0.2em" class="material-icons">
                    description
                </i>
                Application Configuration
            </span>
            <div id="form" class="cols-2">
                <InputField ref="namespace" label="Namespace" type="text" value="tech.arcano">
                    This is the namespace of your application.<br />
                    Usually this value is some string that identifies your project as part of an array of other projects.<br />
                    <br />
                    This will also be used as your maven Group ID.
                </InputField>
                <InputField ref="appname" label="App Name" type="text" value="MyApp">
                    This is the name of your application.<br /><br />
                    This will also be used as your maven Artifact ID and Main Class name.
                </InputField>
                <InputField ref="port" label="Port" type="number" value="80">
                    The port number your server should be listening to.<br />
                    This is usually set to <b>80</b> for HTTP or <b>443</b> for HTTPS.<br />
                </InputField>
                <InputField ref="bindAddress" label="Bind Address" value="::">
                    The interfaces your server should bind to, this is usually an IP address.<br />
                    <hr />
                    <div class="left-text">
                        You can use the notation <b>0.0.0.0</b> to tell your server<br />
                        to bind on <b>all</b> available <b>IPv4</b> interfaces, or the notation <b>::</b> to<br />
                        tell your server to bind on <b>all</b> available <b>IPv4 or IPv6</b> interfaces.
                    </div>
                </InputField>
                <InputField ref="webRoot" label="Web Root" value="www">
                    This is the root of your application.<br />
                    <hr />
                    <div class="left-text">
                        Clients won't be able to access the parent directory of their <br />
                        root through any kind of request unless you make a <br />
                        specific <b>HttpController</b> (in Java)<br />
                        or <b>script</b> (in JavaScript) that does it.
                    </div>
                </InputField>
                <InputField ref="entryPoint" label="Entry Point" value="index.html">
                    This is the file that will be served by your server whenever<br />
                    a client requests the <b>root</b> resource.<br />
                    <hr>
                    <div class="left-text">
                        Let's say the <b>Entry Point</b> is set to <b>/index.html</b><br />
                        Example:<br />
                        Client requests <b>http://127.0.0.1/</b><br />
                        Server responds the contents of the <b>$webRoot/index.html</b> file.<br />
                
                        The <b>Entry Point</b> file is relative to the <b>Web Root</b> location.
                    </div>
                </InputField>
                <InputField ref="charset" label="Charset" value="UTF-8">
                    This is the charset your server will be using.<br />
                    This ios by default set to <b>UTF-8</b>.
                </InputField>
                <InputField ref="timeout" label="timeout" type="number" value="5000">
                    This defines how long (<b>milliseconds</b>) the server should wait for a client<br />
                    that is not sending any data before closing the connection.
                </InputField>
                <InputField ref="sessionTtl" label="Session TTL" type="number" value="1440">
                    This defines how long (<b>seconds</b>) a session should live.
                </InputField>
                <InputField ref="threadPoolSize" label="Threads" type="number" value="3">
                    This is the size of your Thread Pool.<br />
                    <hr />
                    "By maintaining a pool of threads, the model increases<br />
                     performance and avoids latency in execution due to <br />
                     frequent creation and destruction of threads for <br />
                     short-lived tasks."<br />
                     <br />
                     <span style="float: right"><i>- Wikipedia</i></span>
                </InputField>
                <div></div>
                <CheckBox ref="sendExceptions" label="Send Exceptions" checked="checked">
                    Check this if you want your server to send detailed information <br />
                    to the client whenever an Exception (that is not internally catched) <br />
                    triggers inside a controller.
                </CheckBox>
                <CheckBox ref="responseWrapper" label="Response Wrapper">
                    Check this if you want your server to wrap all <br />
                    the response messages in  JavaScript Object Notation (JSON)
                </CheckBox>
                <br />
            </div><br />
            <hr />
            <br />
            <div style="position: relative;display:grid;grid-template-columns: 1fr;justify-items: center;">
                <a id="sendingAnimation" style="cursor: default;display: none;" class="btn-floating pulse">
                    <i class="material-icons">cloud_queue</i>
                </a>
                <PrimaryButton id="download" style="text-align: center;">
                    <span id="downloadText">Download</span>
                </PrimaryButton>
                <script>
                    download.addEventListener("click",async ()=>{
                        let tmp = {
                            serverRoot: "server",
                            webRoot: form.ref("webRoot").value(),
                            namespace: form.ref("namespace").value(),
                            appname: form.ref("appname").value(),
                            port: form.ref("port").value(),
                            bindAddress: form.ref("bindAddress").value(),
                            entryPoint: form.ref("entryPoint").value(),
                            charset: form.ref("charset").value(),
                            timeout: form.ref("timeout").value(),
                            threadPoolSize: form.ref("threadPoolSize").value(),
                            sendExceptions: form.ref("sendExceptions").value(),
                            responseWrapper: form.ref("responseWrapper").value()
                        };

                        let data = {};
                        Object.keys(tmp).map(key => {
                            if(tmp[key] !== null && tmp[key] !== "")
                                data[key] = tmp[key];
                        });

                        console.log(data);

                        let content = JSON.stringify(data);
                        download.style.display="none";
                        sendingAnimation.style.display="";
                        const request = await fetch("/create",{
                            method: "POST",
                            body: content
                        });
                        const blob = await request.blob();
                        const b64 = window.URL.createObjectURL(blob);
                        const a = create("a");
                        a.href = b64;
                        let filename = form.ref("appname").value();
                        a.download = (filename===""?"app":filename)+".zip";
                        a.click();
                        window.URL.revokeObjectURL(b64);
                        download.style.display="";
                        sendingAnimation.style.display="none";
                    });
                </script>
            </div>
        </div>
        <div class="card-reveal">
            <PrimaryButton style="float:right" class="card-title">
                <i class="material-icons">close</i>
            </PrimaryButton>
            <div style="padding: 1em">
                This feature is not yet available.
            </div>
        </div>
    </div>
</div>
