<div export replace>
    <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;<span style="font-size: 0.7em;">What is Arcano?</span></h4>
    <p>
        Arcano is a lightweight web server written in Java.<br />
        It offers a few unique features such as an MVC design pattern, a WebSocket API, 
        an Http API and a shell scripting API, which allows your http controllers to read the standard output of your shell scripts and redirect it
        as an http response, much like apache servers do with php scripts (<i>yes you can <u>technically</u> execute php scripts. For more on this refer to <a target="_blank" href="https://github.com/tncrazvan/jphp">https://github.com/tncrazvan/jphp</a>.</i>).
    </p>
    <SectionTitle>How to start</SectionTitle>
    <ul class="collection">
        <li class="collection-item">
            <h6>Make sure you have JDK 13+ installed</h6>
            You can download the latest JDK from the official oracle website.<br />
            <a btn target="_blank" :extends="PrimaryButton" href="https://www.oracle.com/technetwork/java/javase/downloads/index.html">Download JDK</a>
        </li>
        <li class="collection-item">
            <h6>Install Maven</h6>
            In order to import the server library in your project you'll need Maven, a java dependency manager.<br />
            
            You can download the latest maven version from the official maven website.<br />
            <a btn target="_blank" :extends="PrimaryButton" href="https://maven.apache.org/download.cgi">Download Maven</a>
        </li>
        <li class="collection-item">
            <h6>Make a new Maven project</h6>
            You have 3 options.
            <ul class="collection">
                <li class="collection-item">
                    More often than not your IDE will have some way of automatically creating a Maven project for you, for example 
                    <a href="https://netbeans.org/downloads" target="_blank">NetBeans</a> comes with a default Maven project template.<br />
                </li>
                <li class="collection-item">
                    If your IDE does not offer a quick way to create a Maven project you can just make one from your terminal like so:<br />
<coding language="bash">mvn archetype:generate 
-DgroupId={project-packaging}
-DartifactId={project-name}
-DarchetypeArtifactId={maven-template} 
-DinteractiveMode=false</coding><br />
                This will setup a new maven project and directory layout.
                </li>
                <li class="collection-item">
                    You can also use the 
                    <PrimaryButton onclick="button_create.click()">Create&nbsp;&nbsp;&nbsp;
                        <i style="font-size: 0.9em" class="fa fa-plus-circle"></i>
                    </PrimaryButton> 
                    form on this website.<br />
                    <ol>
                        <li>Fill the form</li>
                        <li>Click the <PrimaryButton>DOWNLOAD</PrimaryButton> button</li>
                        <li>Extract the zip file</li>
                    </ol><br />
                    This wil not only setup a Maven project for you, but it will also setup all the dependencies needed for Arcano and everything you need to compile and run
                    your project.
                </li>
            </ul>
            <br />
            After making a new Maven project, you'll have to add Arcano as a dependency to your project.<br />
            To do so you need to modify your <b>pom.xml</b> file.<br />
            First you need to define the repository where the library releases are published.
            The current repository is hosted on github.<br />
            <coding language="xml">&lt;repository&gt;
    &lt;id&gt;com.github.tncrazvan.arcano&lt;/id&gt;
    &lt;name&gt;Arcano&lt;/name&gt;
    &lt;url&gt;https://raw.githubusercontent.com/tncrazvan/Arcano/maven-repository&lt;/url&gt;
&lt;/repository&gt;</coding><br /><br />
        Then you need to add the dependency:<br />
        <coding language="xml">&lt;dependency&gt;
    &lt;groupId&gt;com.github.tncrazvan&lt;/groupId&gt;
    &lt;artifactId&gt;Arcano&lt;/artifactId&gt;
    &lt;version&gt;1.1.0&lt;/version&gt;
&lt;dependency&gt;</coding><br /><br />

            Now you can <b><u>download the dependencies</u></b>.<br />
            <ul class="collection">
                <li class="collection-item">
                    If you're using NetBeans you can simply <b>Build</b> your project, it will download your dependencies automatically.
                </li>
                <li class="collection-item">
                    If you're using the terminal, navigate to wherever your <a>pom.xml</a> file is located and run
                    <coding language="bash">mvn install</coding><br />
                    This will download all your dependencies.
                </li>
                <li class="collection-item">
                    If you used the web form you will notice the project you downloaded comes with a few scripts<br />
                    <coding language="bash">512 Feb 22 14:44 .
512 Feb 22 14:14 ..
512 Feb 22 14:05 .git
163 Feb 22 01:00 .gitignore
224 Feb 22 01:00 http.json
 20 Feb 22 01:00 <u><b>install</b></u>
512 Feb 22 14:08 java
 83 Feb 22 01:00 start
 86 Feb 22 01:00 update
512 Feb 22 01:00 www</coding><br />
                        Run the <u><b>install</b></u> script to download your dependencies.
                </li>
            </ul>
        </li>
        <li class="collection-item">
            <h6>Configuration</h6>
            Before running your server you need to make a configuration file to feed to your server.<br />
            Create a new <b>http.json</b> file. This will contain a json object.<br />
            Make sure your object defines the <b>entryPoint</b>, <b>webRoot</b>, <b>port</b> and <b>bindAddress</b> properties, like so:<br />
            <coding language="json">{
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::"
}</coding><br /><br />
            The <b>entryPoint</b> property defines the entry point of your application. This is relative to the <b>webRoot</b>.
            <hr />
            The <b>webRoot</b> property defines the root of your application. Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
            <hr />
            The <b>port</b> property defines on which port your server should be listening to (usally port 80).
            <hr />
            The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
        </li>
        <li class="collection-item">
            <h6>Start your server</h6>
            Make a new instance of the <b>Arcano</b> class and define a few http services<br />
            <coding language="java">package com.github.tncrazvan.helloworld;
            
import com.github.tncrazvan.arcano.Bean.Bean.HttpPath;
import com.github.tncrazvan.arcano.Http.HttpController;
import com.github.tncrazvan.arcano.Arcano;
import java.io.IOException;
import java.net.URISyntaxException;
import java.security.NoSuchAlgorithmException;

public class HelloWorld {

    @HttpService(path = "/")
    public static class Hello extends HttpController{
        @HttpService(path = "/hello")
        public String main(){
            return "hello world!";
        }
    }

    @HttpService(path = "/hello2")
    public static class Hello2 extends HttpController{
        @HttpService(path = "/")
        public String main(){
            return "hello world 2!";
        }

        @HttpService(path = "/name")
        public String name(){
            return "hello, my name is Arcano!";
        }
    }

    public static void main(final String[] args) throws IOException, NoSuchAlgorithmException, 
    ClassNotFoundException, URISyntaxException, NoSuchMethodException, InstantiationException, 
    IllegalArgumentException, InvocationTargetException, IllegalAccessException {
        Arcano server = new Arcano(Starter.class.getPackage());
        server.listen(args,(so) -> {
            so.config.pack(so.config.webRoot,"imports.json");
            return 100L;
        });
    }
}</coding><br /><br />
            <ul class="collection">
                <li class="collection-item">
                    <u>The functional interface</u>
                    passed to the <b>listen</b> method is a method that will run on it's own thread (separated from the Threap Pool Executor)
                    every &lt;<b>whatever number you <u>return</u></b>&gt; milliseconds.<br />
                    In this example I'm using <coding language="java">so.config.pack</coding> which is a builtin method that grabs all entries from a json array in a specific file and packs all the specified <b>.js</b> and <b>.css</b>
                    files in their relative <b>pack/main.js</b> and <b>pack/main.css</b> files.<br />
                    The <b>pack</b> directory is relative to the input file, in this case it's relative to <b>imports.json</b> (which is located in the $webRoot).
                    <br /><br />

                    Since I'm returning <coding language="java">return 100L;</coding> this piece of code will run every 100ms.
                </li>
                <li class="collection-item">
                    <u>The <b>@HttpService</b> beans</u> expose <i>classes</i> and their <i>methods</i> as http services.<br />
                    These beans are <b>optional for classes</b> but <b>required for the individual methods</b>.<br /><br />
                    
                    Specifying an <b>@HttpService</b> bean for a method, as mentioned above, exposes it as an http service and the <b>path</b> attribute specifies 
                    its <b>http path</b>.<br /><br />

                    Specifying an <b>@HttpService</b> bean for a class does nothing for the class itself.<br />
                    The only reason this is possible is because the underlying exposed methods will inherit the class bean and extend it with their own,
                    for example:
<coding language="java">@HttpService(path = "/file-manager")
public class FileManager extends HttpController{
    @HttpService(path = "/get")
    public File get(){
        //retrieve and return file...
    }
}</coding><br />
                    The class <b>FileManager</b> uses a bean with a <b>path</b> of <u>/file-manager</u> and its method <b>get</b> uses a bean with a path of <u>/get</u>,
                    this means the <b>get</b>'s method full path is <u>/file-manager/get</u>, and it can only be called through that <b>http path</b>.<br /><br />

                    This can become useful when exposing number of methods that share part of their paths with eachother.<br />

                    As mentioned above, classes are not required to spcify <b>@HttpService</b> beans, infact you can achieve the same result
                    without the class bean like this
<coding language="java">public class FileManager extends HttpController{
    @HttpService(path = "/file-manager/get")
    public File get(){
        //retrieve and return file...
    }
}</coding><br />
                This way you're still exposing the <b>get</b> method to the same <b>http path</b> but with one single bean.
                </li>
            </ul>

            <br />

            Now you can compile your application and run it (<u>make sure you've installed the dependencies</u>) with <coding language="bash">java -jar target/MyApp-1.0.0.jar ../http.json</coding><br />
            Alternativaly, if you're using the 
            <PrimaryButton onclick="button_create.click()">Create&nbsp;&nbsp;&nbsp;
                <i style="font-size: 0.9em" class="fa fa-plus-circle"></i>
            </PrimaryButton> 
            form on this website, you can run the predefined <b>start</b> script: <coding language="bash">sudo ./start</coding>, 
            it contains a normal maven instruction which will compile and run your server.<br /><br />
            Either way, you should get an output similar to this:<br />
            <coding language="xml" style="font-size: 0.8em;">
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| KEY             | VALUE                                                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| locale          | it_IT                                                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| timezone        | Europe/Rome (Http cookies by default use GMT aka UTC 00:00)                                                           |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| port            | 80                                                                                                                    |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| bindAddress     | ::                                                                                                                    |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| serverRoot      | /Path/to/Your/Application/App/java/../java/                                                                           |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| webRoot         | /Path/to/Your/Application/App/java/../www/                                                                            |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| entryPoint      | /index.html (Relative to the webRoot)                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| charset         | UTF-8                                                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| timeout         | After 5000 milliseconds                                                                                               |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| session         | +-----------+--------------+                                                                                          |
|                 | | KEY       | VALUE        |                                                                                          |
|                 | +-----------+--------------+                                                                                          |
|                 | | ttl       | 1440 seconds |                                                                                          |
|                 | +-----------+--------------+                                                                                          |
|                 | | keepAlive | False        |                                                                                          |
|                 | +-----------+--------------+                                                                                          |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| cookie          | +-----+--------------+                                                                                                |
|                 | | KEY | VALUE        |                                                                                                |
|                 | +-----+--------------+                                                                                                |
|                 | | ttl | 1440 seconds |                                                                                                |
|                 | +-----+--------------+                                                                                                |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| webSocket       | +--------+-------------------------------------------------------------------------------------------------------+    |
|                 | | KEY    | VALUE                                                                                                 |    |
|                 | +--------+-------------------------------------------------------------------------------------------------------+    |
|                 | | groups | +-------------+-------------------------------------------------------------------------------------+ |    |
|                 | |        | | KEY         | VALUE                                                                               | |    |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |    |
|                 | |        | | connections | +-----+---------------------------------------------------------------------------+ | |    |
|                 | |        | |             | | KEY | VALUE                                                                     | | |    |
|                 | |        | |             | +-----+---------------------------------------------------------------------------+ | |    |
|                 | |        | |             | | max | 10 connections (This value is ofcourse dependent on the thread pool size) | | |    |
|                 | |        | |             | +-----+---------------------------------------------------------------------------+ | |    |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |    |
|                 | |        | | enabled     | False                                                                               | |    |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |    |
|                 | +--------+-------------------------------------------------------------------------------------------------------+    |
|                 | | mtu    | 65536 bytes                                                                                           |    |
|                 | +--------+-------------------------------------------------------------------------------------------------------+    |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| http            | +-----+-------------+                                                                                                 |
|                 | | KEY | VALUE       |                                                                                                 |
|                 | +-----+-------------+                                                                                                 |
|                 | | mtu | 65536 bytes |                                                                                                 |
|                 | +-----+-------------+                                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| threads         | +--------+--------------------------------------------------------------------------+                                 |
|                 | | KEY    | VALUE                                                                    |                                 |
|                 | +--------+--------------------------------------------------------------------------+                                 |
|                 | | policy | steal (Uses Work-Stealing thread pool)                                   |                                 |
|                 | +--------+--------------------------------------------------------------------------+                                 |
|                 | | pool   | 3 threads (The actual number of threads may grow or shrink dinamically.) |                                 |
|                 | +--------+--------------------------------------------------------------------------+                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| sendExceptions  | True                                                                                                                  |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| responseWrapper | False                                                                                                                 |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
| Controllers     | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | TYPE         | PATH                     | CLASS                                                                   | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@get/allwebsocketgroups | com.github.tncrazvan.arcano.Controller.Http.Get.allWebSocketGroups      | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@get/cookie             | com.github.tncrazvan.arcano.Controller.Http.Get.cookie                  | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@get/file               | com.github.tncrazvan.arcano.Controller.Http.Get.file                    | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@get/memory             | com.github.tncrazvan.arcano.Controller.Http.Get.memory                  | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@isset/cookie           | com.github.tncrazvan.arcano.Controller.Http.Isset.cookie                | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@isset/file             | com.github.tncrazvan.arcano.Controller.Http.Isset.file                  | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /@unset/cookie           | com.github.tncrazvan.arcano.Controller.Http.Unset.cookie                | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /helloworld/test         | tech.arcano.myapp.Controller.HelloWorld.test                            | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | GET          | /pack                    | com.github.tncrazvan.arcano.Controller.Http.FileService.pack            | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | HTTP 404     |                          | com.github.tncrazvan.arcano.Controller.Http.ControllerNotFound.main     | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | HTTP DEFAULT |                          | com.github.tncrazvan.arcano.Controller.Http.FileService.main            | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | POST         | /@set/cookie             | com.github.tncrazvan.arcano.Controller.Http.Set.cookie                  | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | POST         | /@set/websocketgroup     | com.github.tncrazvan.arcano.Controller.Http.Set.webSocketGroup          | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | WS 404       |                          | com.github.tncrazvan.arcano.Controller.WebSocket.ControllerNotFound.{?} | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
|                 | | WS           | /WebSocketGroupApi       | com.github.tncrazvan.arcano.Controller.WebSocket.WebSocketGroupApi.{?}  | |
|                 | +--------------+--------------------------+-------------------------------------------------------------------------+ |
+-----------------+-----------------------------------------------------------------------------------------------------------------------+
Public imports will be packed in background at @webRoot/pack.
Server started.                
</coding><br /><br />
            All the fields you see in the resulting table, except for "Routes", are configurations you can modify in your <b>http.json</b> file.
            The names match exactly, so if you want to change your "threadPoolSize" property, you can do just that by defining it in your configuration file.
            For example:<br />
            <coding language="json">{
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::",
    "threadPoolSize": 5
}</coding><br />
        </li>
        <li class="collection-item">
            <p style="text-align:center">
                For more information about the library check the 
                <PrimaryButton>
                    DOCUMENTATION&nbsp;&nbsp;&nbsp;
                    <i style="font-size: 0.9em" class="fa fa-book"></i>
                </PrimaryButton> (not yet available).
            </p>
        </li>
    </ul><br />
    <Footer></Footer>
</div>
