<div export replace>
    <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;<span style="font-size: 0.7em;">What is Arcano?</span></h4>
    <p>
        Arcano is a lightweight web server written in Java.<br />
        It offers a few unique features such as an MVC design pattern, a WebSocket API, 
        a Http API <strike>and a server-side JavaScript API which allows you to script your server using JavaScript, much like NodeJS</strike>.
    </p>
    <SectionTitle>How to start</SectionTitle>
    <ul class="collection">
        <li class="collection-item">
            <h6>Make sure you have JDK 8+ installed</h6>
            You can download the latest JDK from the official oracle website.<br />
            <a btn target="_blank" :extends="PrimaryButton" href="https://www.oracle.com/technetwork/java/javase/downloads/index.html">Download JDK</a>
        </li>
        <li class="collection-item">
            <h6>Install Maven</h6>
            In order to import the server library in your project you'll need Maven, a java dependency manager.<br /><br />
            
            You can download the latest JDK from the official oracle website.<br />
            <a btn target="_blank" :extends="PrimaryButton" href="https://maven.apache.org/download.cgi">Download Maven</a>
        </li>
        <li class="collection-item">
            <h6>Make a new project</h6>
            After making a new project in your IDE, you'll have to modify your <b>pon.xml</b> file in 
            order to add the Arcano dependency.
            <hr/>
            First you need to define the repository where the library releases are published.
            The current repository is hosted on github.<br />
            Here's what you need to add to your <b>pom.xml</b> file:<br />
            <coding language="xml">&lt;repository&gt;
    &lt;id&gt;com.github.tncrazvan.Arcano&lt;/id&gt;
    &lt;url&gt;https://raw.githubusercontent.com/tncrazvan/Arcano/maven-repository&lt;/url&gt;
&lt;/repository&gt;</coding><br /><br />
        After that's done, all you need to do is add the dependency:<br />
        <coding language="xml">&lt;dependency&gt;
    &lt;groupId&gt;com.github.tncrazvan&lt;/groupId&gt;
    &lt;artifactId&gt;Arcano&lt;/artifactId&gt;
    &lt;version&gt;1.1.0&lt;/version&gt;
&lt;dependency&gt;</coding><br /><br />
            Now build your project once to make sure everything works (if you're using an IDE this will probably also download the sources for you).
        </li>
        <li class="collection-item">
            <h6>Configuration</h6>
            Before running your server you need to make a configuration file to feed to your server.<br />
            Make a new <b>http.json</b>, this will contain a json object.<br />
            Make sure your object defines the <b>entryPoint</b>, <b>webRoot</b>, <b>port</b> and <b>bindAddress</b> properties, like so:<br />
            <coding language="json">{
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::"
}</coding><br /><br />
            The <b>entryPoint</b> property defines the entry point of your application. This is relative to the <b>webRoot</b>.
            <hr />
            The <b>webRoot</b> property defines the root of your application. Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
            <hr />
            The <b>port</b> property defines on which port your server should be listening to (usally port 80).
            <hr />
            The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
        </li>
        <li class="collection-item">
            <h6>Start your server</h6>
            Make a new instance of the <b>Server</b> class and pass it your controller classes<br />
            <coding language="java">package com.github.tncrazvan.helloworld;
            
import com.github.tncrazvan.arcano.Bean.Bean.HttpPath;
import com.github.tncrazvan.arcano.Http.HttpController;
import com.github.tncrazvan.arcano.Arcano;
import java.io.IOException;
import java.net.URISyntaxException;
import java.security.NoSuchAlgorithmException;

public class HelloWorld {

    @HttpService(path = "/")
    public class Hello extends HttpController{
        @HttpService(path = "/hello")
        public String main(){
            return "hello world!";
        }
    }

    @HttpService(path = "/hello2")
    public class Hello2 extends HttpController{
        @HttpService(path = "/")
        public String main(){
            return "hello world 2!";
        }

        @HttpService(path = "/name")
        public String name(){
            return "hello, my name is Arcano!";
        }
    }

    public static void main(String[] args) {
        Arcano server = new Arcano(
            new String[]{"/path/to/your/http.json"},    //configuration file
            Hello.class,    //exposed class
            Hello2.class,   //exposed class
        );
    }
}</coding><br /><br />
            Now compile your application and run it with <coding language="bash">java -jar app.jar</coding><br />
            Alternativaly you can run the <b>start</b> script: <coding language="bash">sudo ./start</coding>, it will compile and run your application automatically.
            You should get an output similar to this:<br />
            <coding language="xml">
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| KEY             | VALUE                                                                                                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| locale          | en_US                                                                                                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| timezone        | Etc/UTC (Http cookies by default use GMT aka UTC?00:00)                                                                |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| port            | 80                                                                                                                     |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| bindAddress     | ::                                                                                                                     |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| serverRoot      | ../server/ (Relative to the JSON configuration file)                                                                   |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| webRoot         | ../www/ (Relative to the JSON configuration file)                                                                      |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| entryPoint      | index.html (Relative to the webRoot)                                                                                   |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| charset         | UTF-8                                                                                                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| timeout         | After 5000 milliseconds                                                                                                |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| session         | +-----------+--------------+                                                                                           |
|                 | | KEY       | VALUE        |                                                                                           |
|                 | +-----------+--------------+                                                                                           |
|                 | | ttl       | 1440 seconds |                                                                                           |
|                 | +-----------+--------------+                                                                                           |
|                 | | keepAlive | False        |                                                                                           |
|                 | +-----------+--------------+                                                                                           |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| cookie          | +-----+--------------+                                                                                                 |
|                 | | KEY | VALUE        |                                                                                                 |
|                 | +-----+--------------+                                                                                                 |
|                 | | ttl | 1440 seconds |                                                                                                 |
|                 | +-----+--------------+                                                                                                 |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| webSocket       | +--------+-------------------------------------------------------------------------------------------------------+     |
|                 | | KEY    | VALUE                                                                                                 |     |
|                 | +--------+-------------------------------------------------------------------------------------------------------+     |
|                 | | groups | +-------------+-------------------------------------------------------------------------------------+ |     |
|                 | |        | | KEY         | VALUE                                                                               | |     |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |     |
|                 | |        | | connections | +-----+---------------------------------------------------------------------------+ | |     |
|                 | |        | |             | | KEY | VALUE                                                                     | | |     |
|                 | |        | |             | +-----+---------------------------------------------------------------------------+ | |     |
|                 | |        | |             | | max | 10 connections (This value is ofcourse dependent on the thread pool size) | | |     |
|                 | |        | |             | +-----+---------------------------------------------------------------------------+ | |     |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |     |
|                 | |        | | enabled     | False                                                                               | |     |
|                 | |        | +-------------+-------------------------------------------------------------------------------------+ |     |
|                 | +--------+-------------------------------------------------------------------------------------------------------+     |
|                 | | mtu    | 65536 bytes                                                                                           |     |
|                 | +--------+-------------------------------------------------------------------------------------------------------+     |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| http            | +-----+-------------+                                                                                                  |
|                 | | KEY | VALUE       |                                                                                                  |
|                 | +-----+-------------+                                                                                                  |
|                 | | mtu | 65536 bytes |                                                                                                  |
|                 | +-----+-------------+                                                                                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| minify          | +----------+----------------------------------+                                                                        |
|                 | | KEY      | VALUE                            |                                                                        |
|                 | +----------+----------------------------------+                                                                        |
|                 | | interval | Once every 5000 milliseconds     |                                                                        |
|                 | +----------+----------------------------------+                                                                        |
|                 | | script   | ../minify --type=$_TYPE "$_FILE" |                                                                        |
|                 | +----------+----------------------------------+                                                                        |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| threads         | +--------+--------------------------------------------------------------------------+                                  |
|                 | | KEY    | VALUE                                                                    |                                  |
|                 | +--------+--------------------------------------------------------------------------+                                  |
|                 | | policy | steal (Uses Work-Stealing thread pool)                                   |                                  |
|                 | +--------+--------------------------------------------------------------------------+                                  |
|                 | | pool   | 3 threads (The actual number of threads may grow or shrink dinamically.) |                                  |
|                 | +--------+--------------------------------------------------------------------------+                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| sendExceptions  | True                                                                                                                   |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| responseWrapper | False                                                                                                                  |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
| Controllers     | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | TYPE         | PATH                     | CLASS                                                                    | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | WS 404       |                          | com.github.tncrazvan.arcano.Controller.WebSocket.ControllerNotFound.null | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | WS           | /websocketgroupapi       | com.github.tncrazvan.arcano.Controller.WebSocket.WebSocketGroupApi.null  | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | POST         | /@set/cookie             | com.github.tncrazvan.arcano.Controller.Http.Set.cookie                   | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@get/allwebsocketgroups | com.github.tncrazvan.arcano.Controller.Http.Get.allWebSocketGroups       | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@isset/file             | com.github.tncrazvan.arcano.Controller.Http.Isset.file                   | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@get/cookie             | com.github.tncrazvan.arcano.Controller.Http.Get.cookie                   | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@get/memory             | com.github.tncrazvan.arcano.Controller.Http.Get.memory                   | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | POST         | /@set/websocketgroup     | com.github.tncrazvan.arcano.Controller.Http.Set.webSocketGroup           | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /home                    | com.github.tncrazvan.arcanotech.controller.App.home                      | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | HTTP DEFAULT |                          | com.github.tncrazvan.arcano.Controller.Http.App.main                     | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /create                  | com.github.tncrazvan.arcanotech.controller.App.createGET                 | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@isset/cookie           | com.github.tncrazvan.arcano.Controller.Http.Isset.cookie                 | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | HTTP 404     |                          | com.github.tncrazvan.arcano.Controller.Http.ControllerNotFound.main      | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /documentation/explore   | com.github.tncrazvan.arcanotech.controller.Documentation.explore         | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /quick                   | com.github.tncrazvan.arcanotech.controller.App.quick                     | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | POST         | /create                  | com.github.tncrazvan.arcanotech.controller.App.createPOST                | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@unset/cookie           | com.github.tncrazvan.arcano.Controller.Http.Unset.cookie                 | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /                        | com.github.tncrazvan.arcanotech.controller.App.main                      | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
|                 | | GET          | /@get/file               | com.github.tncrazvan.arcano.Controller.Http.Get.file                     | |
|                 | +--------------+--------------------------+--------------------------------------------------------------------------+ |
+-----------------+------------------------------------------------------------------------------------------------------------------------+
Server started.
Files glued but not minified.
Server will minify files in background once every 5000ms.
</coding><br /><br />
            All the fields you see in the resulting table, except for "Routes", are configurations you can modify in your <b>http.json</b> file.
            The names match exactly, so if you want to change your "threadPoolSize" property, you can do just that by defining it in your configuration file.
            For example:<br />
            <coding language="json">{
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::",
    "threadPoolSize": 5
}</coding>
        </li>
    </ul><br />
    <Footer></Footer>
</div>
