<div export replace>
    <h4><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;File Service Implementation</h4>
    <p>
        You can implement Arcano server in your project without actually having to write any Java code.<br />
        Obviously by using this method the server won't have any logic behind it, <u>it will only serve plain files</u>.<br /><br />
        If you want to add logic to your server check the 
        <PrimaryButton onclick="button_about.click()">
            About&nbsp;&nbsp;&nbsp;
            <i style="font-size: 0.9em" class="fa fa-info-circle"></i>
        </PrimaryButton>
        page.
    </p>

    <SectionTitle>How to start</SectionTitle>
    <ul class="collection">
        <li class="collection-item">
            <h6>Download the compiled source</h6>
            First of all you need to download the latest public JAR.<br />
            <a target="__blank" :extends="PrimaryButton" href="https://github.com/tncrazvan/Arcano/tree/maven-repository" btn>Download</a>
        </li>
        <li class="collection-item">
            <h6>Configuration file</h6>
            All you need to do now is to make a configuration file.<br />
            Make a new file named "<b>http.json</b>", this json file must containt an object.
            You'll have to define a few parameters:<br />
            <coding language="json">{
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::"
}</coding><br /><br />
            The <b>entryPoint</b> property defines the entry point of your application.<br />This is relative to the <b>webRoot</b>.
            <hr />
            The <b>webRoot</b> property defines the root of your application.<br />Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
            <hr />
            The <b>port</b> property defines on which port your server should be listening to (usally port 80).
            <hr />
            The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
        </li>
        <li class="collection-item">
            <h6>Run server</h6>
            Everything is set, now you need to give the server some files to serve.<br />
            Make a new file "<b>www/index.html</b>" and throw some html code in it.<br />
            <coding language="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset='utf-8'&gt;
        &lt;meta http-equiv='X-UA-Compatible' content='IE=edge'&gt;
        &lt;title&gt;Arcano&lt;/title&gt;
        &lt;meta name='viewport' content='width=device-width, initial-scale=1'&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="app"&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;</coding><br /><br />
            
            And run your server using <coding language="bash">java -jar Arcano-x.y.z.jar http.json</coding>.<br />
            Now you should be able to access the resource "<b>http://127.0.0.1/index.html</b>".
        </li>
    </ul>
    <br />
    <Footer></Footer>
</div>
