<div export replace>
    <h4><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Quick Implementation</h4>
    <p>
        You can implement Arcano server in your project without actually having to write any Java code.<br />
        Arcano uses <a target="__blank" href="https://en.wikipedia.org/wiki/Nashorn_(JavaScript_engine)">Nashron</a>, a JavaScript engine which allows
        Java to run JavaScript files.<br /><br />
        These scripts can access some Java core functinalities, such as FileSystem manipulation, MySQL database connection and most importantly a global variables
        named "server" which gives you total control over the underlying Java HttpEvent object, which you can use to send and read data from the client, set header field, and a few utility methods.
    </p>

    <SectionTitle>How to start</SectionTitle>
    <ul class="collection">
        <li class="collection-item">
            <h6>Download the compiled source</h6>
            First of all you need to download the latest public JAR.<br />
            <a target="__blank" href="https://github.com/tncrazvan/Arcano/tree/maven-repository" btn>download</a>
        </li>
        <li class="collection-item">
            <h6>Settings file</h6>
            All you need to do now is to make a settings file.<br />
            Make a new file named "<b>http.json</b>", this json file must containt an object.
            You'll have to define a few parameters:<br />
            <coding language="json">{
    "scripts":"scripts",
    "entryPoint":"index.html",
    "webRoot": "www",
    "port": 80,
    "bindAddress": "::"
}</coding><br /><br />    
            The <b>scripts</b> property defines the location of your <b>Http</b> and <b>WebSocket</b> scripts.
            <hr />
            Your <b>Http</b> scripts will be located under <b>scripts/Http</b>.
            Your <b>WebSocket</b> scripts will be located under <b>scripts/WebSocket</b>.
            <hr />
            The <b>entryPoint</b> property defines the entry point of your application.<br />This is relative to the <b>webRoot</b>.
            <hr />
            The <b>webRoot</b> property defines the root of your application.<br />Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
            <hr />
            The <b>port</b> property defines on which port your server should be listening to (usally port 80).
            <hr />
            The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
        </li>
        <li class="collection-item">
            <h6>Run server</h6>
            Everything is set, now you need to give the server some files to serve.<br />
            Make a new file "<b>www/index.html</b>" and throw some html code in it.<br />
            <coding language="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset='utf-8'&gt;
        &lt;meta http-equiv='X-UA-Compatible' content='IE=edge'&gt;
        &lt;title&gt;Arcano&lt;/title&gt;
        &lt;meta name='viewport' content='width=device-width, initial-scale=1'&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="app"&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;</coding><br /><br />
            
            And run your server using <coding language="bash">java -jar http.json</coding>.<br />
            Now you should be able to access the resource "<b>http://127.0.0.1/index.html</b>".
        </li>
    </ul>
    <br />
    <Footer></Footer>
</div>
