<ul export replace class="sidenav">
    <li>
        <div id="git_profile">
            <a secondary-btn target="__blank" href="https://github.com/tncrazvan/Arcano">
                <img style="width: 2em;position: absolute;top: 0.3em;left: 1em" src="/img/github.png"/>
                <span style="margin-left: 3em">REPOSITORY</span>
            </a>
        </div>
    </li>
    <li>
        <PrimaryButton state="STATE_HOME">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;
            About
        </PrimaryButton>
    </li>
    <li>
        <PrimaryButton state="STATE_QUICK">
            <i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;
            Quick Start
        </PrimaryButton>
    </li>
    <li>
        <PrimaryButton state="STATE_CREATE">
            <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;
            Create
        </PrimaryButton>
    </li>
    <!--<li>
        <PrimaryButton state="STATE_DOCUMENTATION">
            <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;
            Documentation
        </PrimaryButton>
    </li>-->
</ul>