<div export replace style="display: grid;grid-template-columns: auto;">
    <img src="/assets/img/Logo.png" onclick="side_menu.open()" class="top-menu-logo responsive-img" style="position:absolute;top: -1.5em;left:0.5em;width: 5em;z-index:2;"/>
    <h6 style="display: none;position: absolute;left: 3em;top: -0.3em;font-size: 2em">Arcano</h6>
    <div style="align-self: center;z-index:0;min-width: 5em;">
        <PrimaryButton state="STATE_HOME">
            About&nbsp;&nbsp;&nbsp;
            <i style="font-size: 0.9em" class="fa fa-info-circle"></i>
        </PrimaryButton>
        <PrimaryButton state="STATE_QUICK">
            Quick Start&nbsp;&nbsp;&nbsp;
            <i style="font-size: 0.9em" class="fa fa-cubes"></i>
        </PrimaryButton>
        <!--<PrimaryButton state="STATE_DOCUMENTATION">Documentation</PrimaryButton>-->
        <PrimaryButton id="button_create" state="STATE_CREATE">
            Create&nbsp;&nbsp;&nbsp;
            <i style="font-size: 0.9em" class="fa fa-plus-circle"></i>
        </PrimaryButton>
    </div>
</div>
