<App export replace>
    <SideMenu>
        <ul class="sidenav">
            <li>
                <div id="git_profile">
                    <a secondary-btn target="__blank" href="https://github.com/tncrazvan/Arcano">
                        <img style="width: 2em;position: absolute;top: 0.3em;left: 1em" src="/img/github.png"/>
                        <span style="margin-left: 3em">REPOSITORY</span>
                    </a>
                </div>
            </li>
            <li>
                <PrimaryButton state="STATE_HOME">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;
                    Get Started
                </PrimaryButton>
            </li>
            <li>
                <PrimaryButton state="STATE_QUICK">
                    <i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;
                    Quick Implementation
                </PrimaryButton>
            </li>
            <!--<li>
                <PrimaryButton state="STATE_DOCUMENTATION">
                    <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;
                    Documentation
                </PrimaryButton>
            </li>-->
        </ul>
    </SideMenu>
    <Container>
        <TopMenu>
            <div style="display: grid;grid-template-columns: auto;">
                <img src="/img/Logo.png" onclick="side_menu.open()" class="top-menu-logo responsive-img" style="position:absolute;top: -1.5em;left:0.5em;width: 5em;z-index:1;"/>
                <h6 style="display: none;position: absolute;left: 3em;top: -0.3em;font-size: 2em">Arcano</h6>
                <div style="align-self: center;z-index:0;min-width: 5em;">
                    <PrimaryButton state="STATE_HOME">Get Started</PrimaryButton>
                    <PrimaryButton state="STATE_QUICK">Quick Implementation</PrimaryButton>
                    <!--<PrimaryButton state="STATE_DOCUMENTATION">Documentation</PrimaryButton>-->
                </div>
            </div>
        </TopMenu>
        <MainContent :if="this.state === this.STATE_HOME">
            <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;<span style="font-size: 0.7em;">What is Arcano?</span></h4>
            <p>
                Arcano is a lightweight web server written in Java.<br />
                It offers a few unique features such as an MVC design pattern, a WebSocket API, 
                a Http API and a server-side JavaScript API which allows you to script your server using JavaScript, much like NodeJS.
            </p>
            <SectionTitle>How to start</SectionTitle>
            <ul class="collection">
                <li class="collection-item">
                    <h6>Make sure you have JDK 8+ installed</h6>
                    You can download the latest JDK from the official oracle website.<br />
                    <a btn target="_blank" href="https://www.oracle.com/technetwork/java/javase/downloads/index.html">Download JDK</a>
                </li>
                <li class="collection-item">
                    <h6>Install Maven</h6>
                    In order to import the server library in your project you'll need Maven, a java dependency manager.<br /><br />
                    
                    You can download the latest JDK from the official oracle website.<br />
                    <a btn target="_blank" href="https://maven.apache.org/download.cgi">Download Maven</a>
                </li>
                <li class="collection-item">
                    <h6>Make a new project</h6>
                    After making a new project in your IDE, you'll have to modify your <b>pon.xml</b> file in 
                    order to add the Arcano dependency.
                    <hr/>
                    First you need to define the repository where the library releases are published.
                    The current repository is hosted on github.<br />
                    Here's what you need to add to your <b>pom.xml</b> file:<br />
                    <coding language="xml">&lt;repository&gt;
        &lt;id&gt;com.github.tncrazvan.Arcano&lt;/id&gt;
        &lt;url&gt;https://raw.githubusercontent.com/tncrazvan/Arcano/maven-repository&lt;/url&gt;
    &lt;/repository&gt;</coding><br /><br />
                    After that's done, all you need to do is add the dependency:<br />
                    <coding language="xml">&lt;dependency&gt;
        &lt;groupId&gt;com.github.tncrazvan&lt;/groupId&gt;
        &lt;artifactId&gt;AsciiTable&lt;/artifactId&gt;
        &lt;version&gt;1.0.0&lt;/version&gt;
    &lt;dependency&gt;</coding><br /><br />
                    Now build your project once to make sure everything works (if you're using an IDE this will probably also download the sources for you).
                </li>
                <li class="collection-item">
                    <h6>Settings</h6>
                    Before running your server you need to make a settings file to feed to your server.<br />
                    Make a new <b>http.json</b>, this will contain a json object.<br />
                    Make sure your object defines the <b>entryPoint</b>, <b>webRoot</b>, <b>port</b> and <b>bindAddress</b> properties, like so:<br />
                    <coding language="json">{
        "entryPoint":"index.html",
        "webRoot": "www",
        "port": 80,
        "bindAddress": "::"
    }</coding><br /><br />
                    The <b>entryPoint</b> property defines the entry point of your application. This is relative to the <b>webRoot</b>.
                    <hr />
                    The <b>webRoot</b> property defines the root of your application. Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
                    <hr />
                    The <b>port</b> property defines on which port your server should be listening to (usally port 80).
                    <hr />
                    The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
                </li>
                <li class="collection-item">
                    <h6>Start your server</h6>
                    Make a new instance of the <b>Server</b> class and pass it your controller classes<br />
                    <coding language="java">package com.github.tncrazvan.helloworld;
                        
    import com.github.tncrazvan.arcano.Bean.Web;
    import com.github.tncrazvan.arcano.Http.HttpController;
    import com.github.tncrazvan.arcano.Server;
    import java.io.IOException;
    import java.net.URISyntaxException;
    import java.security.NoSuchAlgorithmException;
    
    public class HelloWorld {
        
        @Web(path = "/hello")
        public class Hello extends HttpController{
            @Web(path = "/")
            public String main(){
                return "hello world!";
            }
        }
        
        @Web(path = "/hello2")
        public class Hello2 extends HttpController{
            @Web(path = "/")
            public String main(){
                return "hello world 2!";
            }
            
            @Web(path = "/name")
            public String name(){
                return "hello, my name is Arcano!";
            }
        }
    
        public static void main(String[] args) throws IOException, NoSuchAlgorithmException, ClassNotFoundException, URISyntaxException {
            Server s = new Server(
                Hello.class,
                Hello2.class
            );
            s.listen(new String[]{"/path/to/your/http.json"});
        }
    }</coding><br /><br />
                    Now compile your application and run it with <coding language="bash">java -jar app.jar</coding><br />
                    You should get an output similar to this:<br />
                    <coding language="xml">Server started.
    Files glued but not minified.
    Server will minify files in background once every -100ms.
    +-----------------+----------------------------------------------------------+
    | Key             | Value                                                    |
    +-----------------+----------------------------------------------------------+
    | locale          | it_IT                                                    |
    +-----------------+----------------------------------------------------------+
    | timezone        | Europe/Rome                                              |
    +-----------------+----------------------------------------------------------+
    | port            | 80                                                       |
    +-----------------+----------------------------------------------------------+
    | bindAddress     | ::                                                       |
    +-----------------+----------------------------------------------------------+
    | webRoot         | /path/to/your/web/roob                                   |
    +-----------------+----------------------------------------------------------+
    | charset         | UTF-8                                                    |
    +-----------------+----------------------------------------------------------+
    | timeout         | 30000 milliseconds                                       |
    +-----------------+----------------------------------------------------------+
    | sessionTtl      | 1440 seconds                                             |
    +-----------------+----------------------------------------------------------+
    | cookieTtl       | 2592000 seconds                                          |
    +-----------------+----------------------------------------------------------+
    | cacheMaxAge     | 31536000 seconds                                         |
    +-----------------+----------------------------------------------------------+
    | wsMtu           | 65536 bytes                                              |
    +-----------------+----------------------------------------------------------+
    | httpMtu         | 65536 bytes                                              |
    +-----------------+----------------------------------------------------------+
    | entryPoint      | index.html                                               |
    +-----------------+----------------------------------------------------------+
    | minify          | -100 milliseconds                                        |
    +-----------------+----------------------------------------------------------+
    | threadPoolSize  | 2 Threads                                                |
    +-----------------+----------------------------------------------------------+
    | keepAlive       | 60000 milliseconds                                       |
    +-----------------+----------------------------------------------------------+
    | sendExceptions  | True                                                     |
    +-----------------+----------------------------------------------------------+
    | responseWrapper | False                                                    |
    +-----------------+----------------------------------------------------------+
    | groups          | +-----------+-------+                                    |
    |                 | | Attribute | Value |                                    |
    |                 | +-----------+-------+                                    |
    |                 | | allow     | False |                                    |
    |                 | +-----------+-------+                                    |
    +-----------------+----------------------------------------------------------+
    | Routes          | +----------------------------------------------+         |
    |                 | | Path                                         |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/isset/file                               |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/set/websocketgroup                       |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/get/allwebsocketgroups                   |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/get/cookie                               |         |
    |                 | +----------------------------------------------+         |
    |                 | | WS/websocketgroupapplicationprograminterface |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/isset/cookie                             |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/get/file                                 |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/set/cookie                               |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/unset/cookie                             |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/hello                                    |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/hello2                                   |         |
    |                 | +----------------------------------------------+         |
    |                 | | GET/hello2/name                              |         |
    |                 | +----------------------------------------------+         |
    +-----------------+----------------------------------------------------------+</coding><br /><br />
                    All the fields you see in the resulting table, except for "Routes", are settings you can modify in your <b>http.json</b> file.
                    The names match exactly, so if you want to change your "threadPoolSize" property, you can do just that by defining it in your settings file.
                    For example:<br />
                    <coding language="json">{
        "entryPoint":"index.html",
        "webRoot": "www",
        "port": 80,
        "bindAddress": "::",
        "threadPoolSize": 5
    }</coding>
                </li>
            </ul><br />
            <Footer></Footer>
        </MainContent>
        <MainContent :elseif="this.state === this.STATE_QUICK">
            <h4><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Quick Implementation</h4>
            <p>
                You can implement Arcano server in your project without actually having to write any Java code.<br />
                Arcano uses <a target="__blank" href="https://en.wikipedia.org/wiki/Nashorn_(JavaScript_engine)">Nashron</a>, a JavaScript engine which allows
                Java to run JavaScript files.<br /><br />
                These scripts can access some Java core functinalities, such as FileSystem manipulation, MySQL database connection and most importantly a global variables
                named "server" which gives you total control over the underlying Java HttpEvent object, which you can use to send and read data from the client, set header field, and a few utility methods.
            </p>
    
            <SectionTitle>How to start</SectionTitle>
            <ul class="collection">
                <li class="collection-item">
                    <h6>Download the compiled source</h6>
                    First of all you need to download the latest public JAR.<br />
                    <a target="__blank" href="https://github.com/tncrazvan/Arcano/tree/maven-repository" btn>download</a>
                </li>
                <li class="collection-item">
                    <h6>Settings file</h6>
                    All you need to do now is to make a settings file.<br />
                    Make a new file named "<b>http.json</b>", this json file must containt an object.
                    You'll have to define a few parameters:<br />
                    <coding language="json">{
        "scripts":"scripts",
        "entryPoint":"index.html",
        "webRoot": "www",
        "port": 80,
        "bindAddress": "::"
    }</coding><br /><br />    
                    The <b>scripts</b> property defines the location of your <b>Http</b> and <b>WebSocket</b> scripts.
                    <hr />
                    Your <b>Http</b> scripts will be located under <b>scripts/Http</b>.
                    Your <b>WebSocket</b> scripts will be located under <b>scripts/WebSocket</b>.
                    <hr />
                    The <b>entryPoint</b> property defines the entry point of your application.<br />This is relative to the <b>webRoot</b>.
                    <hr />
                    The <b>webRoot</b> property defines the root of your application.<br />Your <b>entryPoint</b> should be located inside your <b>webRoot</b>.
                    <hr />
                    The <b>port</b> property defines on which port your server should be listening to (usally port 80).
                    <hr />
                    The <b>bindAddress</b> property defines on which interface the server socket should bind on. The bind <b>::</b> means the <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank" >server socket</a> should bind on all available IPv4 or IPv6 interfaces.
                </li>
                <li class="collection-item">
                    <h6>Run server</h6>
                    Everything is set, now you need to give the server some files to serve.<br />
                    Make a new file "<b>www/index.html</b>" and throw some html code in it.<br />
                    <coding language="html">&lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
        &lt;meta charset='utf-8'&gt;
        &lt;meta http-equiv='X-UA-Compatible' content='IE=edge'&gt;
        &lt;title&gt;Arcano&lt;/title&gt;
        &lt;meta name='viewport' content='width=device-width, initial-scale=1'&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="app"&gt;&lt;/div&gt;
    &lt;/body&gt;
    &lt;/html&gt;</coding><br /><br />
                    
                    And run your server using <coding language="bash">java -jar http.json</coding>.<br />
                    Now you should be able to access the resource "<b>http://127.0.0.1/index.html</b>".
                </li>
                <li class="collection-item">
                    <h6>Server scripting</h6>
                    Now your server is online, and you can serve the <b>index.html</b> file.<br />
                    Now we're gonna write a simple script that makes the server respond with the <b>index.html</b> when the resource "<b>/</b>" is requested.
                    <hr />
                    Under your <b>scripts/Http</b> directory, make a new file named "<b>.js</b>".<br />
                    Inside your "<b>.js</b>" file write write the following code:<br />
                    <coding language="javascript">if(method !== "GET") //if the mthod is not "GET"
        header("@Status",STATUS_BAD_REQUEST); //respond with "400 Bad Request" status
    else{ //if the method is ineed "GET"
        let f = file("../../www/index.html"); //get a file handler (JSFile class)
        send(f.read()); //read the contents of the file and send them to the client
    }</coding><br /><br /><br />
                    The <b>method</b> variable contains the request method of the client. You can also get the name of the method by calling 
                    <coding language="javascript">server.getClientMethod()</coding>.
                    <hr />
                    The <b>header</b> function simply sets a specific header to your response.<br />
                    The "@Status" key is a special key which sets the status of your response.
                    <hr />
                    The <b>gile</b> function returns a <b>JSFile object</b> which extends Java's File class and defines 3 more 
                    methods: <br />
                    1) <coding language="javascript">read()</coding> returns the contents of the file<br />
                    2) <coding language="javascript">write(contents)</coding> writes contents to the file<br />
                    3) <coding language="javascript">exists()</coding> returns <b>true</b> if the file exists, otherwise <b>false</b>.<br />
                    You can also use all the other methods provided by the File class.<br/><br/>
    
                    <b>NOTE: </b> All paths are relative to the script working directory, which in this case is <b>scripts/Http/</b>, so in order to access the
                    <b>index.html</b> file you need to change directory accordingly. In this case you go back twice using "<b>../../</b>", change directory to 
                    "<b>www/</b>" and finally accessing the file "<b>index.html</b>".
                    <br /><br />
                    Now you can request the resource <b>http://127.0.0.1/</b> and your server will respond with the index.html file.
                </li>
            </ul>
            <br />
            <Footer></Footer>
        </MainContent>
    </Container>
</App>