.card{
    background: #16101e;
    color: #f1f1f1;
    border-color: #4b9cd2;
}
.card *{
    color: #f1f1f1 !important;
}

.card-reveal{
    background: rgb(15, 17, 20, 0.9) !important;
    color: #f1f1f1 !important;
}